<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Charge Code Request!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('bundles/app/images/favicon.png') }}" />
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% stylesheets 
            'assets/vendor/jquery.ui/themes/base/jquery.ui.all.css'
            'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
            'assets/vendor/ladda-bootstrap/dist/ladda-themeless.min.css'
            'assets/vendor/bootstrap-table/dist/bootstrap-table.css'
            '@AppBundle/Resources/public/css/*'
            filter='cssrewrite' output='css/compiled/main.css' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    </head>
    <body style="margin: 10px;" ng-app="modal">
        <div id="wrapper" ng-controller="MainCtrl">
            <div class="modal_container">
                <modal id="modal" title="[[ modalTitle ]]" visible="showModal">
                    <form id="modal-form" role="form" data-toggle="validator" method="post" action="[[ formAction ]]" ng-controller="MainCtrl" enctype="multipart/form-data">
                        <div ng-bind-html="modalHtml | unsafe"></div>
                    </form>
                </modal>
            </div>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
    {% javascripts
        'assets/vendor/jquery/jquery.min.js'
        'assets/vendor/angular/angular.min.js'
        'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
        'assets/vendor/bootstrap/js/modal.js'
        'assets/vendor/bootstrap3-dialog/src/js/bootstrap-dialog.js'
        'assets/vendor/bootstrap-validator/dist/validator.js'
        'assets/vendor/ladda-bootstrap/js/spin.js'
        'assets/vendor/ladda-bootstrap/js/ladda.js'
        'assets/vendor/bootstrap-table/dist/bootstrap-table.js'
        'assets/vendor/bootstrap-table/dist/extensions/export/bootstrap-table-export.js'
        'assets/vendor/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js'
        'assets/vendor/jquery.ui/ui/jquery.ui.core.js'
        'assets/vendor/jquery.ui/ui/jquery.ui.widget.js'
        'assets/vendor/jquery.ui/ui/jquery.ui.position.js'
        'assets/vendor/jquery.ui/ui/jquery.ui.menu.js'
        'assets/vendor/jquery.ui/ui/jquery.ui.autocomplete.js'
        '@PUGXAutocompleterBundle/Resources/public/js/autocompleter-jqueryui.js'
        '@AppBundle/Resources/public/js/*'
        output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>var TRANSLATIONS_LOCALE = "{{ app.request.locale }}"</script>
    <script src="{{ path('funddy_jstranslations', {locale: app.request.locale}) }}"></script>
    <script src="{{ asset('bundles/funddyjstranslations/js/lib/funddytranslations.js') }}"></script>
    {% block javascript %}{% endblock %}
</html>
